

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Segoe UI, Arial, sans-serif;
background: #0f172a;
padding: 30px;
}

placeholder-text {
color: #ffffff;
}


h1 {
background: #334155;
text-align: center;
margin-bottom: 25px;
color: #ffffff;
}


.app-container {
max-width: 1200px;
height: 650px;
margin: 0 auto;

display: flex;
gap: 20px;


}


.panel {
flex: 1;


background: #1e293b;
border-radius: 12px;

padding: 20px;

box-shadow: 0 4px 12px rgba(0,0,0,0.08);

display: flex;
flex-direction: column;


}


.panel h3 {
margin-bottom: 15px;
color: #ffffff;
}
textarea::placeholder {
    color: #cbd5e1;
}


textarea {
color: #ffffff;
background: #334155;
flex: 1;
height: 200px;


width: 100%;

resize: none;

padding: 15px;

border: 1px solid #d0d7de;
border-radius: 8px;

font-size: 15px;
line-height: 1.5;


}


.action-btn {
margin-top: 15px;


background: #2563eb;
color: white;

border: none;
border-radius: 8px;

padding: 12px;

font-size: 16px;
font-weight: 600;

cursor: pointer;


}

.action-btn:hover {
background: #1d4ed8;
}


.result-display {
flex: 1;


overflow-y: auto;

padding: 15px;

border: 1px solid #d0d7de;
border-radius: 8px;

background: #334155;

line-height: 1.6;


}
    
.result-display h2 {
color: #ffffff;
margin-top: 20px;
margin-bottom: 10px;
}

.result-display p {
color: #ffffff;
margin-bottom: 10px;
}

@media (max-width: 900px) {


.app-container {
    color: #ffffff;
    flex-direction: column;
    height: 650px;
}

textarea {
    color: #ffffff;
    background: #334155;
    height: 650px;
}

h3 {
color: #ffffff;
}

p {
color: #ffffff;
}

h4 {
color: #ffffff;
}

.result-display {
    color: #ffffff;
    flex: 1;
    height: 100%;
    overflow-y: auto;

    padding: 15px;
    border: 1px solid #d0d7de;
    border-radius: 8px;
    background: #fafafa;
}
}
.output-panel {
    color: #ffffff;
    background: #1e293b;
    height: 100%;
    overflow: hidden;
}
