<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input & Output UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>AI Study Assistant</h1>

<form method="POST">


<div class="app-container">
        <div class="panel input-panel">
            <h3>Enter Your Notes Here</h3>
            <textarea  name="notes" placeholder="Type or paste your text here...">{{ notes }}</textarea>
            <input type="submit" value="Process Text" class="action-btn">
        </div>

        <div class="panel output-panel">
            <h3>Result</h3>
            <div class="result-display">
                <p class="placeholder-text">Your processed result will appear here...</p>
                <p>{{ summary }}</p>
                <h2>Your Note</h2>

                <p>{{ notes }}</p>
                <p>Character Count: {{lenghtofnotes}}/2500</p>
            </div>
        </div>
    </div>

    </form>

    

</body>
</html>
